
.database-sheets {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  li {
    display: inline-block;
    margin-bottom: 0;

    a {
      padding: 5px 10px;
      border: 1px solid grey;
      font-size: 20px;

      &:hover {
        text-decoration: none !important;
        background-color: #f7f7f7;
        cursor: pointer;
      }
    }

    &.active a {
      background-color: #e1e1e1;
    }
  }
}